{% extends 'blog/about.html' %} {% load static %} 
{% block title%}<title>Editor</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/editor.css' %}" />{% endblock %}
{% block body_block %} 
<div class="box">
<div class="text">
<form name="compForm" method="post">
  <input type="hidden" name="myDoc" />
  <div id="toolBar1">
    <select class="icon"
      onchange="formatType('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;"
    >
      <option class="heading" selected>Font Size</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <button type="button" onclick=makeBold(window.getSelection().toString())><i class="fas fa-bold"></i></button>
    <button type="button" onclick=makeItalic(window.getSelection().toString())><i class="fas fa-italic"></i></button>
    <button type="button" onclick=makeUnderlined(window.getSelection().toString())><i class="fas fa-underline"></i></button>
   
    <input
      type="file"
      accept="image/*"
      name="image"
      id="file"
      onchange="loadFile(event)"
      style="display: none"
    />
    <label for="file" style="cursor: pointer;" class="icon"><i class="fas fa-link"></i></label>
    <input
      type="file"
      accept="image/*"
      name="image"
      id="file"
      onchange="loadFile(event)"
      style="display: none"
    />
    <label for="file" style="cursor: pointer;" class="icon"><i class="fas fa-code"></i></label>
    <input
      type="file"
      accept="image/*"
      name="image"
      id="file"
      onchange="loadFile(event)"
      style="display: none"
    />
    <label for="file" style="cursor: pointer;" class="icon"><i class="fas fa-image"></i></label>
  </div>
  <div id="textBox" contenteditable="true"><p></p></div>
 </form>
</div>
</div>
<script src="{% static 'js/home.js'%}"></script>
{% endblock %}
