{% extends 'blog/about.html' %} {% load static %} 
{% block title%}<title>Editor</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/editor.css' %}" />{% endblock %}
{% block body_block %} 
<div class="box">
<div class="text">
<form name="compForm" method="post">
  <input type="hidden" name="myDoc" />
  <div id="toolBar1">
    <select class="icon"
      onchange="formatType('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;"
    >
      <option class="heading" selected>Font Size</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <button type="button" onclick=makeBold(window.getSelection().toString())><i class="fas fa-bold"></i></button>
    <button type="button" onclick=makeItalic(window.getSelection().toString())><i class="fas fa-italic"></i></button>
    <button type="button" onclick=makeUnderlined(window.getSelection().toString())><i class="fas fa-underline"></i></button>
    <button type="button" onclick=addH()><b>H<sub>1</sub></b></i></button>
    <button type="button" onclick=addh()><b>H<sub>2</sub></b></i></button>
    <button type="button" onclick=unorderedList()><i class="fas fa-list-ul"></i></button>
    <button type="button" onclick=orderedList()><i class="fas fa-list-ol"></i></button>
    <button type="button" onclick=addLink()><i class="fas fa-link"></i></button>
    <label for="image_input"><i class="fas fa-image"></i></label>
    <input type="file" id="image_input" style="display:none">
    <button type="button" onclick=addCode()><i class="fas fa-code"></i></button>  
  </div>
  <div id="titleBox" contenteditable="true" data-text="Title of the Blog"></div>
  <div id="intro" contenteditable="true" data-text="A brief one liner about the Blog"></div>
  <div id="textBox" contenteditable="true"><p></p></div>
  <button type="submit" id="sbmt" class="btn btn-primary">Submit this blog</button?
 </form>
</div>
</div>
<script src="{% static 'js/home.js'%}"></script>
{% endblock %}
