<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
 <div class="header_content">
 		<h1 style="text-align: center;">Logo Here</h1>
 </div>
	

<div class="main">
	<!-- For Some Image -->
	<div class = "algo_image">
		<img src="{% static 'img.jpg' %}">
	</div>
	<div class="social_media_signin">
			<div  class="social_media_signin_google">Sign in with Google</div>
			<div class="social_media_signin_linkedin">Sign in with Linkedin</div>
			<div class="social_media_signin_twitter">Sign in with Twitter</div>
	</div>
</div>


<div class="main_login_content">
		


	<!-- Description of Our Website -->
	<div class="website_info">
		<div class="website_info_header" >
			<h2>Website</h2>
			<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div>
		<div class="website_info_elements">
		   <ul>
				<li>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
				<li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
				<li>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</li>
		   </ul>
		</div>
	</div>


	<!--For User Login -->
	<div class="container-fluid login_field">
		<div class="login_field_email">
  			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address or Phone Number">
		</div>
		<div class="login_field_pass">
  			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
		</div>
		<div class="button">
			<div class="button_login">
				<button type="button" class="btn btn-primary">Log In</button>
			</div>
			<div class="forgot_pass">
				<p><a href="" >Forgotten Password ?</a></p>
			</div>
			<div class="button_signup">
				<button type="button" class="btn btn-success">Create New Account</button>
			</div>
		</div>
	</div>	
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>