<!DOCTYPE html>
<html>
<head>
	<title>	Register </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="register.css">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fuggles&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,200&display=swap" rel="stylesheet">

</head>
<body>
<div class="main">
	<div class="get_started">
		<h1>Get Started on a new journey !</h1>
		<h2>Eat . Sleep . Code . Repeat</h2>
	</div>
	<div class="signup">
		<div class="signup_upper_content">
			<div class="signup_upper_content_h2">
			<h2>Sign Up</h2>
			</div>
			<div class="signup_upper_content_p">
			<p>It's quick and easy.</p>
			</div>
			<div class="line-2"></div>
		</div>
		<div class="signup_lower_content">
			<div class="row">
    				<div class="col">
      					<input type="text" class="form-control" placeholder="First name" required>
    				</div>
    				<div class="col">
      					<input type="text" class="form-control" placeholder="Last name" required>
    				</div>
  			</div>
  			 <div class="form-group">
    			<div class="col-sm-10">
      				<input type="email" class="form-control" id="colFormLabel" placeholder="Mobile Number or Email address" required>
    			</div>
    			<div class="col-sm-10">
      				<input type="Password" class="form-control" id="colFormLabel" placeholder="New Password" required>
    			</div>
    			<div class="col-sm-10">
      				<input type="Password" class="form-control" id="colFormLabel" placeholder="Confirm Password" required>
    			</div>
    			<div class="date-of-birth-written">
    				<p>Date of Birth :</p>
    			</div>
    			<div class="birth-selector">
    			<form class="form-inline">
  						<select class="custom-select my-1 mr-sm-2 " id="inlineFormCustomSelectPref">
    						<option selected>Day</option>
						    <option value="1">1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="1">4</option>
						    <option value="2">5</option>
						    <option value="3">6</option>
						    <option value="1">7</option>
						    <option value="2">8</option>
						    <option value="3">9</option>
						    <option value="1">10</option>
						    <option value="2">11</option>
						    <option value="3">12</option>
						    <option value="1">13</option>
						    <option value="2">14</option>
						    <option value="3">15</option>
						    <option value="1">16</option>
						    <option value="2">17</option>
						    <option value="3">18</option>
						    <option value="1">19</option>
						    <option value="2">20</option>
						    <option value="3">21</option>
						    <option value="1">22</option>
						    <option value="2">23</option>
						    <option value="3">24</option>
						    <option value="1">25</option>
						    <option value="2">26</option>
						    <option value="3">27</option>
						    <option value="1">28</option>
						    <option value="2">29</option>
						    <option value="3">30</option>
  						</select>
  						<select class="custom-select my-1 mr-sm-2 " id="inlineFormCustomSelectPref">
  							<option>Month</option>
						    <option value="1">January</option>
						    <option value="2">February</option>
						    <option value="3">March</option>
						    <option value="1">April</option>
						    <option value="2">May</option>
						    <option value="3">June</option>
						    <option value="1">July</option>
						    <option value="2">August</option>
						    <option value="3">September</option>
						    <option value="1">October</option>
						    <option value="2">November</option>
						    <option value="3">December</option>
  						</select>
  						<select class="custom-select my-1 mr-sm-2 " id="inlineFormCustomSelectPref">
  							<option>Year</option>
						    <option value="1">1998</option>
						    <option value="2">1999</option>
						    <option value="3">2000</option>
						    <option value="1">2001</option>
						    <option value="2">2002</option>
						    <option value="3">2003</option>
						    <option value="1">2004</option>
						    <option value="2">2005</option>
						    <option value="3">2006</option>
						    <option value="1">2007</option>
						    <option value="2">2008</option>
						    <option value="3">2009</option>
						    <option value="1">2010</option>
						    <option value="2">2011</option>
						    <option value="3">2012</option>
						    <option value="1">2013</option>
						    <option value="2">2014</option>
						    <option value="3">2015</option>
						    <option value="1">2016</option>
						    <option value="2">2017</option>
						    <option value="3">2018</option>
						    <option value="1">2019</option>
						    <option value="2">2020</option>
						    <option value="3">2021</option>
  						</select>
				</form>
				</div>
				<div class="date-of-birth-written">
    				<p>Gender:</p>
    			</div>
				<div class="gender-check">
					<div class="form-check form-check-inline radio-box">
					  
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					  <label class="form-check-label" for="inlineRadio1">Male</label>
					</div>
					<div class="form-check form-check-inline radio-box">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					  <label class="form-check-label" for="inlineRadio2">Female</label>
					</div>
					<div class="form-check form-check-inline radio-box">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
					  <label class="form-check-label" for="inlineRadio3">Other</label>
					</div>
				</div>

				</div>
				<div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ"></div>
				<div class="terms">
					<p>By clicking Sign Up, you agree to our Terms, <span><a href="">Data Policy</a></span> and <span><a href="">Cookie Policy</a></span>.</p>
				</div>
				<div class="button-create">
				<button type="button" class="btn btn-success"><span>Sign Up</span></button>
				</div>
	</div>

</div>





	<!-- BootStrap javascript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>