* {
  margin: 0;
  padding: 0;
}
.jumbotron {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: grid;
  font-size: medium;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid black;
}
.title {
  justify-content: center;
  font-size: 2rem;
  padding: 40px;
  padding-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}
.title {
  font-size: 1.5rem;
  text-align: center;
  color: darkblue;
}
form {
  display: grid;
  margin: 20px;
}
.buttons {
  margin: 20px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Set the border color to the desired color */
.custom-toggler,.navbar-toggler {
	border-color: white;
}

.all {
  margin: 0;
  padding: 0;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fd746c,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fd746c,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height:fit-content;
  width: 100vw;
}
.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px;
}
.btn {
  margin-right: 10px;
  color: #30e8bf;
}
.footer {
    position:relative;
    height: 25px;
    background-color:black;
    text-align: center;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.develop {
  font-size: medium;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
}
a {
  text-decoration: none;
  background: none;
  padding: 5px;
}
.social {
  margin-left: 10%;
}
.about {
  margin: 10px;
}

.ad > li {
  margin: 5px;
}
.card {
  border: 2px solid black;
}
.card-img-top {
  height: 60%;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 1rem;
    padding: 20px;
    padding-bottom: 0;
  }
  .jumbotron {
    margin-left: 2%;
    margin-right: 3%;
  }
  .develop {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .about {
    font-size: medium;
  }
  
  .card {
    margin: 20px;
  }
}
