.jumbotron
{
  background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display:grid;
  font-size:medium;
  align-items:center;
  justify-content:center;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid black;

}
.title{
    
  justify-content: center;
  font-size: 2rem;
  padding: 40px;
  padding-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;

}
.title{
  font-size:1.5rem;
  text-align: center;
  color:darkblue;
}
form{
  display: grid;
  margin:20px;
}
.buttons
{
  margin:20px;
  margin-left: 0;
  display:flex;
  align-items: center;
  justify-content:center;
}
.all{
  margin: 0;
  padding:0;
  background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 115vh;
  width: 100vw;
}
.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
}
.btn{
  margin-right:10px;
  color: #30E8BF;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color:black;
  color: white;
  text-align: center;
}

@media only screen and (max-width:768px)
{
    .title{
        font-size: 0.5rem;
        padding: 20px;
        padding-bottom: 0;
    }
    .jumbotron{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 8%;
    }
    
    
}