* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.brand-logo,
.navbar {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: grid;
  font-size: medium;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid black;
}
.title {
  justify-content: center;
  font-size: 2rem;
  padding: 40px;
  padding-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}
.title {
  font-size: 1.5rem;
  text-align: center;
  color: darkblue;
}
form {
  display: grid;
  margin: 20px;
}
.buttons {
  margin: 20px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all {
  margin: 0;
  padding: 0;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: fit-content;
  width: 100vw;
}
.navbar {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px;
}
.btn {
  margin-right: 10px;
  color: #30e8bf;
}
.quote {
  position: relative;
  left: 10%;
  top: 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  color: #30e8bf;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
}
.develop {
  font-size: medium;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
}
a {
  text-decoration: none;
  background: none;
  padding: 5px;
}
.social {
  margin-left: 10%;
}
.about {
  margin: 10px;
}

.ad > li {
  margin: 5px;
}
.container {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.card {
  border: 2px solid black;
  width: 50vw;
  margin-left: 5vw;
}
.story-trend {
  grid-area: story;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: hidden;
  overflow-x: scroll;

}
.title-trend {
  grid-area: title;
}
.trend {
  width: 25vw;
  font-size: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.card-img-top {
  height: 60%;
}
.brand-logo {
  height: 15vw;
  width: 100vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.trending {
  border: 2px solid black;
  height: 14vw;
  display: grid;
  overflow-y: hidden;
  grid-template-areas:
    "title"
    "story";
}
.content {
  display: flex;
}
.articles {
  width: 75vw;
  height: auto;
  border-right: 2px solid black;
  grid-area: articles;
}
.tags {
  width: 25vw;
  height: auto;
  grid-area: tags;
}
.container {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}
.col-md-4 > img {
  height: 200px;
}
.tags,
.articles,
.content,
.trending {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content,
.trending {
  width: 100vw;
}
.brand-logo {
  width: 100vw;
  margin-top: -10px;
  margin-bottom: -20px;
}
.topic-tags {
  border: 2px solid black;
  margin: 10px;
  background-color: #d3cce3;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topic-tags > a {
  text-decoration: none;
  color: #080808;
}
.topic-tags:hover {
  background-color: #30e8bf;
}
.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.btn,
.btn-success {
  margin-left: 20%;
  width: 200px;
  height: 40;
  font-size: 18px;
  color: white;
  background-color: blueviolet;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 1rem;
    padding: 20px;
    padding-bottom: 0;
  }
  .jumbotron {
    margin-left: 2%;
    margin-right: 3%;
  }
  .develop {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .about {
    font-size: medium;
  }
  .navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card {
    border: 2px solid black;
    width: 85vw;
    margin-left: 5vw;
  }

  .col-md-4 > img {
    width: 85vw;
  }
  .trending {
    display: grid;
    height: fit-content;
  }
  .story-trend
  {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .content {
    display: grid;
    grid-template-areas:
      "tags"
      "articles";
  }
  .tags,
  .articles {
    width: 95vw;
  }
  .articles{
    border-top: 2px solid black;
  }
  .story-trend {
    display: grid;
  }
  .quote-img {
    display: none;
  }
  .quote {
    display: grid;
    font-size: medium;
    width: 90vw;
    position: relative;
    left: 8%;
  }
  .brand-logo {
    height: 25vh;
  }
  .btn-success {
    width: 100px;
    height: 35px;
    padding: 2px;
    font-size: medium;
    margin-left: 25%;
    margin-bottom: 7%;
  }
  .brand-logo {
    padding: 0;
  }
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
